Options -MultiViews
RewriteEngine On
RewriteBase /

# If the requested file or directory exists, let Apache serve it
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Otherwise, fallback all routes to the SPA entry point
RewriteRule . /index.html [L]